<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.ResumeWorkExpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.imooc.pojo.ResumeWorkExp">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="resume_id" property="resumeId" />
        <result column="company_name" property="companyName" />
        <result column="industry" property="industry" />
        <result column="begin_date" property="beginDate" />
        <result column="end_date" property="endDate" />
        <result column="position" property="position" />
        <result column="department" property="department" />
        <result column="content" property="content" />
        <result column="content_html" property="contentHtml" />
        <result column="create_time" property="createTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, resume_id, company_name, industry, begin_date, end_date, position, department, content, content_html, create_time, updated_time
    </sql>

</mapper>
