<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.IndustryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.imooc.pojo.Industry">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="father_id" property="fatherId" />
        <result column="is_leaf" property="isLeaf" />
        <result column="level" property="level" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sort, father_id, is_leaf, level
    </sql>

</mapper>
