<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.imooc.mapper.MqLocalMsgRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.com.imooc.pojo.MqLocalMsgRecord">
        <id column="id" property="id" />
        <result column="target_exchange" property="targetExchange" />
        <result column="routing_key" property="routingKey" />
        <result column="msg_content" property="msgContent" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, target_exchange, routing_key, msg_content, create_time, update_time
    </sql>

</mapper>
